
@{
    Layout = null;
}
@model Model.ViewTable
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <script src="~/comm.js"></script>
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/vue.js"></script>
    <script src="~/jquery-3.3.1.js"></script>
    <script src="~/bootstrap.js"></script>
    <link href="~/bootstrap.css" rel="stylesheet" />
   
    <script src="~/js/echarts.min.js"></script>
    <title>无标题文档</title>
    <style type="text/css">
        <!--
        .style3 {
            color: #0000CC
        }

        td {
            text-align: center
        }
        -->
    </style>


</head>

<body style="background-color:#FFFFCC">
    <div id="div1">
        <form method="post" asp-action="Upd">
            <table width="100%">
                <tr>
                    <td colspan="2" style="text-align: left">
                        <font color="black">
                            您正在做的业务是：人力资源--薪酬标准管理--薪酬发放登记
                        </font>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <input type="submit" value="提交" class="BUTTON_STYLE1">
                        <input type="button" value="返回" onclick="javascript:window.history.back();" class="BUTTON_STYLE1">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left">
                        薪酬单编号：{{salary_standard_id}}
                        <input type="hidden" name="salaryGrant.salaryGrantId" v-model="salary_standard_id">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left">
                        机构：

                        {{fstname}}




                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        本机构总人数:{{conten}}
                        <input type="hidden" name="salaryGrant.humanAmount" value="5">
                        ，基本薪酬总数:{{salary_sum}}<input type="hidden" name="salaryGrant.salaryStandardSum" />
                        ，实发总额:<span id="salarySum_sum"></span>
                        <input type="hidden" id="salaryPaidSum" name="salaryGrant.salaryPaidSum" value="" />

                    </td>
                    <td style="text-align: right;">
                        登记人:<input type="text" name="salaryGrant.register" v-model="uname" size="8" readonly="readonly">
                        登记时间：<span id="Tdate"></span>
                        <input type="hidden" name="salaryGrant.registTime" id="Tdate2">
                    </td>
                </tr>
            </table>


            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                <tr>
                    <td class="TD_STYLE1">
                        <span>序号</span>
                    </td>
                    <td class="TD_STYLE1">
                        <span>档案编号</span>
                    </td>
                    <td class="TD_STYLE1">
                        <span>姓名</span>
                    </td>
                    <td class="TD_STYLE1">
                        <span>详细信息</span>
                    </td>


                    <td class="TD_STYLE1" width="7%">
                        奖励金额
                    </td>
                    <td class="TD_STYLE1" width="7%">
                        销售绩效总额
                    </td>
                    <td class="TD_STYLE1" width="7%">
                        应扣金额
                    </td>
                    <td class="TD_STYLE1" width="7%">
                        实发金额
                    </td>
                </tr>

                <tr class="TD_STYLE2" v-for="(item,index) in da">

                    <input type="hidden" name="grantDetails[0].salaryGrantId" v-model="item.salary_standard_id">
                    <input type="hidden" :id="'salaryStandardSum'+index" name="grantDetails[0].salaryStandardSum" v-model="paid_sum" />
                    <input type="hidden" v-model="item.huf_id" name="huf_id" />
                    <td>
                        {{index+1}}
                    </td>
                    <td>
                        {{item.human_id}}
                        <input type="hidden" name="grantDetails[0].humanId" value="bt201211190644250035" />
                    </td>
                    <td>
                        {{item.human_name}}
                        <input type="hidden" name="grantDetails[0].humanName" value="" />
                    </td>
                    <td>
                        <a href="#" v-on:click="Cha(item.salary_standard_id)" data-toggle="modal" data-target="#myModal">信息详情</a>
                    </td>
                    <td>
                        <input type="text" name="grantDetails[0].bounsSum" :id="'bounsSum'+index" v-on:keyup="onKeyPress(index)" class="INPUT_STYLE2" />
                    </td>
                    <td>
                        <input type="text" name="grantDetails[0].saleSum" :id="'saleSum'+index" v-on:keyup="onKeyPress(index)" class="INPUT_STYLE2" />
                    </td>
                    <td>
                        <input type="text" name="grantDetails[0].deductSum" :id="'deductSum'+index" v-on:keyup="onKeyPress(index)" class="INPUT_STYLE2" />
                    </td>
                    <td>
                        <input type="text" name="grantDetails[0].salaryPaidSum" readonly="readonly" :id="'sss'+index" class="INPUT_STYLE2" v-model="item.paid_salary_sum" />

                        <input type="hidden" :id="'sps'+index" v-model="item.paid_salary_sum" name="paid_salary_sum" />
                    </td>

                </tr>

            </table>

           


        </form>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">

                    <div id="main" style="width: 600px;height:400px;"></div>






                </div>
                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal） -->

    <script type="text/javascript">
            function time() {
                var tdate = document.getElementById("Tdate");
                var d = new Date();
                var y = d.getFullYear();
                var moth = d.getMonth() + 1;
                var date = d.getDate();
                var h = d.getHours();
                var m = d.getMinutes();
                var s = d.getSeconds();
                var hh = 20 - 1 - h;
                var mm = 60 - 1 - m;
                var ss = 60 - s;
                if (hh > 0) {
                    mm = mm + 60 * hh;
                }
                if (moth < 10) {
                    moth = "0" + moth;
                }
                if (date < 10) {
                    date = "0" + date;
                }
                if (h < 10) {
                    h = "0" + h;
                }
                if (m < 10) {
                    m = "0" + m;
                }
                if (s < 10) {
                    s = "0" + s;
                }
                if (mm < 10) {
                    mm = "0" + mm;
                }
                if (ss < 10) {
                    ss = "0" + ss;
                }

                tdate.innerHTML = y + "-" + moth + "-" + date + " " + h + ":" + m + ":" + s;
                document.getElementById("Tdate2").value = tdate.innerHTML;
            }
            window.onload = time;
            var out = window.setInterval(time, 1000);
        </script>

    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
            title: {
                text: '薪酬详细'
            },
            tooltip: {},
            legend: {
                data: ['薪酬']
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: [{
                name: '薪酬',
                type: 'bar',
                data: []
            }]
        };


        var vm = new Vue({
            el: "#div1",
            data: {
                da: [],
                paid_sum: "",
                conten: "",
                salary_sum: "",
                cha: [],
                fstname: "",
                salary_standard_id: "",
                uname: "",
            },
            methods: {
                load: function () {
                    var t = this;
                    $.ajax({
                        url: "/salaryGrant/register_commit",
                        type: "post",
                        success: function (msg) {
                            var z = eval("(" + msg + ")");
                            t.da = z["dt"];
                            t.paid_sum = z["paid_sum"];
                            t.conten = z["conten"];
                            t.salary_sum = z["salary_sum"];
                            t.fstname = z["fstname"];
                            t.salary_standard_id = z["salary_standard_id"];
                            t.uname = z["uname"];
                        }

                    });

                },
                onKeyPress: function (i) {

                    var size = this.conten;
                    var bounsSum = document.getElementById("bounsSum" + i);
                    var saleSum = document.getElementById("saleSum" + i);
                    var deductSum = document.getElementById("deductSum" + i);
                    var salaryPaidSum = document.getElementById("sss" + i);
                    salaryPaidSum.value = Number(bounsSum.value) + Number(saleSum.value) - Number(deductSum.value) + Number(document.getElementById("sps" + i).value);
                    var sum = 0;
                    for (var j = 0; j <= size - 1; j++) {
                        sum = Number(sum) + Number(document.getElementById("sss" + j).value);
                    }
                    document.getElementById("salarySum_sum").innerHTML = sum;
                    document.getElementById("salaryPaidSum").value = sum;

                },
                Cha: function (id) {
                    
                    $.ajax({
                        url: "/salaryGrant/Select/?id=" + id,
                        type: "post",
                        success: function (msg) {
                            var z = eval("(" + msg + ")");
                            var arr = [];
                            var arr2 = [];
                            for (var i = 0; i < z.length; i++) {
                                arr.push(z[i]["item_name"]);
                                arr2.push(z[i]["salary"])

                            }
                            myChart.setOption({
                                xAxis: {
                                    da: arr
                                },
                                series: [{
                                    data: arr2
                                }]

                            })

                        }
                    });

                }
            },
            mounted: function () {
                this.load();

            }

        });
        myChart.setOption(option);


    </script>
</body>
</html>