
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>user_list</title>
    <script src="~/comm.js"></script>
    <script src="~/jquery-1.10.2.js"></script>
    <script src="~/vue.js"></script>
    <link href="~/css/table.css" rel="stylesheet" />

</head>
<body>
    <div id="div1">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--权限管理--用户管理 </font>
                </td>
            </tr>
            <tr>
                <td>
                    当前角色总数：<span id="zong">{{rows}}</span>例
                </td>
            </tr>
            <tr>
                <td align="right">
                    <a asp-action="user_add">添加用户</a>
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=5 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr class="info">
                <td class="TD_STYLE1">
                    用户编号
                </td>
                <td class="TD_STYLE1">
                    用户名称
                </td>
                <td class="TD_STYLE1">
                    真实姓名
                </td>
                <td class="TD_STYLE1">
                    用户密码
                </td>
                <td class="TD_STYLE1">
                    用户身份
                </td>
                <td class="TD_STYLE1">
                    操作
                </td>
            </tr>
            <tr v-for="(item,index) in dt" class="animated bounceIn">
                <td class="TD_STYLE2">
                    {{item.User_id}}
                </td>
                <td class="TD_STYLE2">
                    {{item.User_name}}
                </td>
                <td class="TD_STYLE2">
                    {{item.User_true_name}}
                </td>
                <td class="TD_STYLE2">
                    {{item.User_password}}
                </td>
                <td class="TD_STYLE2">
                    {{item.user_identity}}
                </td>
                <td class="TD_STYLE2">
                    <img src="~/images/bt_edit.gif" title="编辑" style="cursor:pointer;" v-on:click="Up(item.User_id)"/>
                    <a v-bind:href="'/Power/Del/?id='+item.User_id" onclick="return confirm('确定要删除吗？')"><img src="~/images/bt_del.gif" title="删除" style="cursor:pointer;" /></a>
                </td>
            </tr>
        </table>
        <div align="center" style="font-size: 18px;color: gray">
            &nbsp;&nbsp;总数：<font style="color: maroon;font-weight: bold;">{{rows}}</font>例
            &nbsp;&nbsp;&nbsp;
            每页显示 <font style="color: maroon;font-weight: bold;">{{PageSize}}</font>条
            &nbsp;&nbsp;&nbsp;
            当前第 <font style="color: maroon;font-weight: bold;">{{currentPage}}</font>页
            &nbsp;&nbsp;&nbsp;
            共<font style="color: maroon;font-weight: bold;">{{pages}}</font>页
            <a href="#" style="color: navy;font-weight: bold" id="Home" v-on:click="HomePage()">首页</a>
            <a href="#" style="color: navy;font-weight: bold" id="Previous " v-on:click="PreviousPage()">上一页</a>
            <a href="#" style="color: navy;font-weight: bold" id="Next" v-on:click="NextPage()">下一页</a>
            <a href="#" style="color: navy;font-weight: bold" id="Last" v-on:click="LastPage()">末页</a>
            &nbsp;&nbsp;&nbsp;跳到第<input id="page" type=text value="" class=input1 size=1>页&nbsp;&nbsp;
            <input type="image" id="JumpPage" v-on:click="JumpPage()" src="~/images/go.bmp" width=18 height=18 border=0>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var vm = new Vue({
                el: "#div1",
                data: {
                    dt: [],
                    pages: "",
                    rows: "",
                    currentPage: "",
                    PageSize: "",
                },

                methods: {
                    Fill: function () {
                        var v = this;
                        $.ajax({
                            url: "/Power/user_list",
                            type: "post",
                            data: "currentPage=" + v.currentPage,
                            success: function (msg) {
                                var result = eval("(" + msg + ")");
                                v.dt = result.dt;
                                v.rows = result.rows;
                                v.pages = result.pages;
                                v.PageSize = result.PageSize;
                            }
                        });

                    },
                    HomePage: function () {
                        this.currentPage = 1;
                        document.getElementById("page").value = this.currentPage;
                        this.Fill();
                        //alert("已是首页");
                    },
                    PreviousPage: function () {
                        if (this.currentPage > 1) {
                            this.currentPage--;
                        } else {
                            this.currentPage = 1;
                            //alert("已是第一页");
                        }
                        document.getElementById("page").value = this.currentPage;
                        this.Fill();
                    },
                    NextPage: function () {
                        if (this.currentPage < this.pages) {
                            this.currentPage++;
                        } else {
                            this.currentPage = this.pages;
                            //alert("已是最后一页");
                        }
                        document.getElementById("page").value = this.currentPage;
                        this.Fill();
                    },
                    LastPage: function () {
                        this.currentPage = this.pages;
                        document.getElementById("page").value = this.currentPage;
                        this.Fill();
                        //      alert("已是末页");
                    },

                    JumpPage: function () {
                        var reg = /^[0-9]*[1-9][0-9]*$/;
                        var page = document.getElementById("page").value;
                        if (page <= this.pages) {
                            this.currentPage = document.getElementById("page").value;
                            this.Fill();
                            return true;
                        }
                        if (!reg.test(page)) {
                            alert("您的输入有误");
                            document.getElementById("page").value = 1;
                            return false;
                        }
                        if (page > this.pages) {
                            alert("大于总页数");
                            document.getElementById("page").value = 1;
                            return false;
                        }
                    },
                    Up: function (id) {
                        window.location.href = "/Power/user_edit/" + id;
                    }
                },
                mounted: function () {
                    this.currentPage = 1;
                    document.getElementById("page").value = this.currentPage;
                    this.Fill();
                },
                filters: {
                    DateTime: function (time) {
                        var t = new Date(time);
                        var n = t.getFullYear();
                        var y = t.getMonth() + 1;
                        var r = t.getDate();
                        return n + "年" + y + "月" + r + "日";
                    }
                }
            });
        });
    </script>
</body>
</html>
